@media screen and (max-width: 1040px) {
    img {
        display: none;
    }

    header {
        flex-direction: column;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

}

@media screen and (min-width: 1040px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1040px;
        margin: auto;
    }
}


@media (min-width: 700px) {
    .titulo h1 {
        font-size: 35px;
    }
}

@media (min-width: 900px) {
    .titulo h1 {
        font-size: 40px;
    }
}

@media (min-width: 641px) {
    .motoristas-cadastrados h2 {
        text-align: left !important;
    }
}

@media (min-width: 500px) {
    .btn-primary {
        font-size: 14px;
    }

    .btn-secondary {
        font-size: 14px;
    }

    .titulo h1 {
        font-size: 30px;
    }
}