body {
    background-color: white;
    color: rgb(170, 164, 180);
    margin: 0 auto;
    padding: 30px;
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
}

#title {
    line-height: 10px;
}

li {
    display: inline-block;
    margin: 20px;
}

a {
    color: #CCC;
}

a:hover {
    color: #ffb43a;
    transition: 0.3s all;
}

#inscreva-se-btn {
    border: 2px solid #ffb43a;
    padding: 10px;
    border-radius: 15px;
}

#inscreva-se-btn:hover {
    background-color: #ffb43a;
    color: white;
}

h1 {
    font-weight: 120;
}

h2 {
    font-size: 50px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span {
    color: #ffb43a;
}

p {
    line-height: 20px;
    font-family: poppinslight;
}

img {
    width: 550px;
}

.btnEditar img {
    max-width: 20px;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}